﻿@using ShoppingcartProj.Entity
@model OrderPL
<h1>OrderDetails</h1>


<div class="col">
    <label class="small font-weight-bold">Order Id</label>
    <input type="text" class="form-control form-control-sm" value="@Model.OrderId" disabled />
</div>

<div class="col">
    <label class="small font-weight-bold">Order Date</label>
    <input type="text" class="form-control form-control-sm"
           value="@Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.OrderDate))" disabled />
</div>

<div class="col">
    <label class="small font-weight-bold">Customer Id</label>
    <input type="text" class="form-control form-control-sm" value="@Model.customerId" disabled />

</div>


<div class="col">


    <label class="small font-weight-bold">Order Items</label>
    <table class="table" align="center">
        <tr>
            <th>Product ID</th>
            <th>Quantity</th>
            <th>Unit Price</th>
        </tr>
        @{ 
            var total = 0;
        }
        @foreach (var orderlist in Model.orderItems)
        {
            <tr>
                <td>@orderlist.productid</td>
                <td>@orderlist.Quantity</td>
                <td>@orderlist.UnitPrice</td>
               
            </tr>

            
                
                total = total + (orderlist.UnitPrice * orderlist.Quantity);
            
        }
    </table>

</div>

<div class="col">
    <label class="small font-weight-bold">Grand Total:</label>
    
    <input type="text" class="form-control form-control-sm" value="@total" disabled />

</div>









