﻿@using ShoppingcartProj.ViewModel
@model RegisterViewModel

@{
    ViewBag.Title = "User Registration";
}

<h1>User Register</h1>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="password"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="confirmpassword"></label>
                <input asp-for="confirmpassword" class="form-control" />
                <span asp-validation-for="confirmpassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-outline-primary">Register</button>
        </form>

    </div>
</div>
